<div class="pokemons">
  <ng-container *ngFor="let pokemon of pokemons">
    <div class="pokemon">
        <div class="pokemon-container">
            <img 
                src="{{ pokemon.image }}"
                alt="thumbnail"
                class="pokemon-thumbnail"
            />
        </div>
        <div class="pokemon-description">
            <p class="pokemon-name">Name: {{ pokemon.name }}</p>
            <p class="pokemon-id">ID: {{ pokemon.id }}</p>
        </div>
    </div>
  </ng-container>
</div>
